<!-- BEGIN FOOTER // -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
    <tr>
        <td valign="top" class="footerContent" mc:edit="footer_content00">
            <a href="{{website}}">Visit our website</a>
        </td>
    </tr>
    <tr>
        <td valign="top" class="footerContent" style="padding-top:0;" mc:edit="footer_content01">
            <strong>Our mailing address is:</strong>
            <br />
	    {{mail_org}}
	    <br />
	    {{mail_addr}}
	    <br />
	    {{mail_city}}, {{mail_state}} {{mail_zip}}
        </td>
    </tr>
    <tr>
        <td valign="top" class="footerContent" style="padding-top:0;" mc:edit="footer_content02">
	    {{permission}}
	</td>
    </tr>
    <tr>
	<td valign="top" class="footerContent" style="padding-top:0; padding-bottom:40px;" mc:edit="footer_content03">
	    <a href="{{subscribe_link}}">{{subscribe_text}}</a>&nbsp;
	</td>
    </tr>
</table>
<!-- // END FOOTER -->
